.DS_Store
*.sln
.Rhistory
*.suo
Part1/packages
Part1/install/paket.exe
Part1/.fake
Part2/packages
Part2/install/paket.exe
Part2/.fake
slides/packages
slides/.paket/paket.exe
slides/.fake
slides/output
